<h1>Datos del Vacunador: {{data.nombre}} </h1>
<form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Email</mat-label>
        <input *ngIf="!editarEmail" matInput [disabled]="!editarEmail" value=" {{data.email}} ">
        <input *ngIf="editarEmail" type="email" matInput [formControl]="emailFormControl"  placeholder="Ej. pat@ejemplo.com">
        <button *ngIf="!editarEmail" mat-icon-button matSuffix (click)="editarEmail =!editarEmail" >
            <mat-icon>edit</mat-icon>
        </button>
        <button *ngIf="editarEmail" mat-icon-button matSuffix (click)="cambiarEmail()" >
            <mat-icon>save</mat-icon>
        </button>
        <button *ngIf="editarEmail" mat-icon-button matSuffix (click)="editarEmail =!editarEmail"  >
            <mat-icon>cancel</mat-icon>
        </button>
        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            Ingrese un email valido
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
            Email es <strong>requerido</strong>
        </mat-error>
    </mat-form-field>
  
    <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Nombre</mat-label>
        <input matInput  disabled value=" {{data.nombre}} " >
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Apellido</mat-label>
        <input matInput disabled value=" {{data.apellido}} " >
      </mat-form-field></td>
    </tr></table>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>DNI</mat-label>
        <input matInput type="number" disabled value={{data.dni}} >
    </mat-form-field>

    <mat-form-field  class="example-full-width" appearance="fill">
        <mat-label>Contraseña</mat-label>
        <input matInput *ngIf="!editarPass"  [type]="hide ? 'password' : 'text'"  [disabled]="!editarPass" value=" {{data.clave}} " >
        <input matInput *ngIf="editarPass"  [type]="hide ? 'password' : 'text'"  [formControl]="passFormControl" >
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <button *ngIf="!editarPass" mat-icon-button matSuffix (click)="editarPass =!editarPass" >
            <mat-icon>edit</mat-icon>
        </button>
        <button *ngIf="editarPass" mat-icon-button matSuffix (click)="cambiarPass()" >
            <mat-icon>save</mat-icon>
        </button>
        <button *ngIf="editarPass" mat-icon-button matSuffix (click)="editarPass =!editarPass"  >
            <mat-icon>cancel</mat-icon>
        </button>
        <mat-error *ngIf="passFormControl.hasError('minlength')">
            Ingrese mas de 6 caracteres
        </mat-error>
        <mat-error *ngIf="passFormControl.hasError('required')">
            Contraseña es <strong>requerido</strong>
        </mat-error>
      </mat-form-field>
  
    
  

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Elegir una Zona</mat-label>
        <input matInput  *ngIf="!editarZona"  [disabled]="!editarZona" value="{{zonaInicial}}"  >
        <mat-select  *ngIf="editarZona" [formControl]="zonaFormControl"  >
            <mat-option *ngFor="let zona of zonas" value="{{zona.id}}"> {{zona.nombre}} </mat-option>
        </mat-select>

        <button *ngIf="!editarZona" mat-icon-button matSuffix (click)="editarZona =!editarZona"  >
            <mat-icon>edit</mat-icon>
        </button>
        <button *ngIf="editarZona" mat-icon-button matSuffix (click)="cambiarZona()" >
            <mat-icon>save</mat-icon>
        </button>
        <button *ngIf="editarZona" mat-icon-button matSuffix (click)="editarZona =!editarZona"  >
            <mat-icon>cancel</mat-icon>
        </button>
        <mat-error *ngIf="zonaFormControl.hasError('required')">
            Se debe elegir una nueva <strong>zona</strong>
        </mat-error>
    </mat-form-field>


  

  </form>