<nav class="navbar navbar-expand-lg navbar-light bg-light">
<div class="container">
  <a *ngIf="islogged()" class="navbar-brand" routerLink="/"><img src="../../assets/littleLogo.PNG"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav " style="margin-left: auto;">
        <li  *ngIf="mostrar( ['paciente','vacunador'] )" class="nav-item active">
          <a class="nav-link"  routerLink="/home" routerLinkActive="active"><i class="fas fa-gamepad"></i>Home</a>
        </li>
        <li  *ngIf="mostrar( ['vacunador'] )"   class="nav-item active">
          <a class="nav-link" routerLinkActive="active"><i class="fas fa-gamepad"></i>Registrar Paciente</a>
        </li>
        <li  *ngIf="mostrar( ['admin'] )" class="nav-item active">
          <a class="nav-link"  routerLinkActive="active"><i class="fas fa-gamepad"></i>Estadisticas</a>
        </li>
        <li  *ngIf="mostrar( ['admin'] )"   class="nav-item active">
          <a class="nav-link"  routerLink="/listaVacunadores"  routerLinkActive="active"><i class="fas fa-gamepad"></i>Listado Vacunadores</a>
        </li>
        <!-- <li  *ngIf=islogged() class="nav-item active">
          <a class="nav-link" routerLink="/listarPersonas" routerLinkActive="active"><i class="fas fa-gamepad"></i>Listar</a>
        </li> -->
        <!-- <li *ngIf=islogged() class="nav-item active">
          <a class="nav-link" routerLink="/argegarPersonas" routerLinkActive="active"><i class="fas fa-gamepad"></i>Agregar</a>
        </li> -->
        <li  *ngIf="mostrar( ['admin'] )"   class="nav-item active">
          <a class="nav-link"  routerLink="/listFA"  routerLinkActive="active"><i class="fas fa-gamepad"></i>Turnos fiebre Amarilla</a>
        </li>

        <li *ngIf="mostrar( ['admin','paciente','vacunador'] )"   class="nav-item active">
          <a class="nav-link"  routerLink="/perfil" routerLinkActive="active"><i class="fas fa-gamepad"></i>Perfil</a>
        </li>
        <button  *ngIf="mostrar( ['admin','paciente','vacunador'] )" (click)="logout()" class="btn btn-outline-success" >logout</button>

      </ul>
    </div>
  </div>
</div>
</nav>