<H1 style="margin-top: 3%;">Listado de Estadisticas </H1>

<!-- Estadisticas 

:   Ver cant presencialidad en un mes de todas las Zonas	Grafico:: Torta 3 secciones

:	Ver cant vacunas aplicadas en un dia todas las Zonas	Grafico:: Torta 3 secciones

:	Ver cant vacunas aplicadas por mes en todas las Zonas	Grafico:: Torta 3 secciones

:	Ver cant vacunas aplicadas por zona en un Mes		Grafico:: Barras semanal 

:  	Ver cant presencialidad por zona en un Mes		Grafico:: Barras semanal -->

<div class="contentP">

    <mat-accordion class="example-headers-align" style="width: 100%">

        <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Presencialidad en un mes
                </mat-panel-title>
                <mat-panel-description>
                    cantidad asistencias en todo todas las zonas
                    <mat-icon>date_range</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>
      

            <mat-form-field style="width: 100%" class="example-full-width" appearance="fill">
                <mat-label>Seleccionar un mes</mat-label>
                <input matInput  [formControl]="dateForm" [min]="minDate"  [max]="maxDate"  [matDatepicker]="picker" [disabled]=true >
                <mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
                <mat-datepicker #picker startView="year" (monthSelected)="closeDatePicker($event, picker, dateForm)"  disabled="false"></mat-datepicker>
                <mat-error *ngIf="dateForm.hasError('required')">
                    Fecha <strong>requerido</strong>
                </mat-error>
            </mat-form-field>

            <button mat-button color="primary" (click)="buscar(0,dateForm)" [disabled]="dateForm.hasError('required')" >Buscar</button>

            <div *ngIf="mostrarGraf[0]" class="contentGraf" >

                <ngx-charts-pie-chart
                [view]="view"
                [scheme]="colorScheme"
                [animations]="true"
                [results]="single"
                [gradient]="gradient"
                [legend]="showLegend"
                [legendTitle]="legendTitle"
                [legendPosition]="legendPosition"
                [labels]="showLabels"
                [doughnut]="isDoughnut"
                (select)="onSelect($event)"
                (activate)="onActivate($event)"
                (deactivate)="onDeactivate($event)"
                >
                </ngx-charts-pie-chart>


            </div>
          


          <mat-action-row>
            <button mat-button color="primary" (click)="close()">Cerrar</button>
          </mat-action-row>
        </mat-expansion-panel>
      
        <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
            
            <mat-expansion-panel-header>
            <mat-panel-title>
                Presencialidad por zona en un Mes
            </mat-panel-title>
            <mat-panel-description>
              cantidad asistencias en cada zona
              <mat-icon>date_range</mat-icon>
            </mat-panel-description>
            </mat-expansion-panel-header>
            
            <div class="formDatos" style="display:flex;justify-content: center;">
                
                <mat-form-field style="width: 50%" class="example-full-width" appearance="fill">
                    <mat-label>Seleccionar un mes</mat-label>
                    <input matInput  [formControl]="dateForm2" [min]="minDate"  [max]="maxDate"  [matDatepicker]="picker2" [disabled]=true >
                    <mat-datepicker-toggle matSuffix [for]="picker2" ></mat-datepicker-toggle>
                    <mat-datepicker #picker2 startView="year" (monthSelected)="closeDatePicker($event, picker2, dateForm2)"  disabled="false"></mat-datepicker>
                    <mat-error *ngIf="dateForm2.hasError('required')">
                        Fecha <strong>requerido</strong>
                    </mat-error>
                </mat-form-field>

                <mat-form-field style="width: 50%" class="example-full-width" appearance="fill">
                    <mat-label>Zona</mat-label>
                    
                    <mat-select [formControl]="zonaFormControl">
                        <mat-option *ngFor="let zona of zonas" value="{{zona.id}}">{{zona.nombre}}</mat-option>
                    </mat-select>
                </mat-form-field>
            
            </div>


          <button mat-button color="primary" (click)="buscar(1,dateForm2)">Buscar</button>

          
            <div *ngIf="mostrarGraf[1]" class="contentGraf" >

                <ngx-charts-pie-chart
                [view]="view"
                [scheme]="colorScheme"
                [animations]="true"
                [results]="single"
                [gradient]="gradient"
                [legend]="showLegend"
                [legendTitle]="legendTitle"
                [legendPosition]="legendPosition"
                [labels]="showLabels"
                [doughnut]="isDoughnut"
                (select)="onSelect($event)"
                (activate)="onActivate($event)"
                (deactivate)="onDeactivate($event)"
                >
                </ngx-charts-pie-chart>


            </div>
      
      
          <mat-action-row>
            <button mat-button color="primary" (click)="close()">Cerrar</button>
          </mat-action-row>
        </mat-expansion-panel>
      
        <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
          
            <mat-expansion-panel-header>
            <mat-panel-title>
                vacunas aplicadas en un dia
            </mat-panel-title>
            <mat-panel-description>
              cantidad vacunas aplicadas en todas las zonas
              <mat-icon>date_range</mat-icon>
            </mat-panel-description>
            </mat-expansion-panel-header>
      
            <mat-form-field style="width: 100%" class="example-full-width" appearance="fill">
            <mat-label>Seleccionar una fecha</mat-label>
            <input matInput  [formControl]="dateForm3" [min]="minDate"  [max]="maxDate"  [matDatepicker]="picker3" [disabled]=true >
            <mat-datepicker-toggle matSuffix [for]="picker3" ></mat-datepicker-toggle>
            <mat-datepicker #picker3 startView="year" (monthSelected)="closeDatePicker($event, picker3, dateForm3)"  disabled="false"></mat-datepicker>
            <mat-error *ngIf="dateForm3.hasError('required')">
                Fecha <strong>requerido</strong>
            </mat-error>
            </mat-form-field>

            <button mat-button color="primary" (click)="buscar(2,dateForm3)">Buscar</button>
      
          
            <div *ngIf="mostrarGraf[2]" class="contentGraf" >

            <ngx-charts-pie-chart
            [view]="view"
            [scheme]="colorScheme"
            [animations]="true"
            [results]="single"
            [gradient]="gradient"
            [legend]="showLegend"
            [legendTitle]="legendTitle"
            [legendPosition]="legendPosition"
            [labels]="showLabels"
            [doughnut]="isDoughnut"
            (select)="onSelect($event)"
            (activate)="onActivate($event)"
            (deactivate)="onDeactivate($event)"
            >
            </ngx-charts-pie-chart>


            </div>
      


          <mat-action-row>
            <button mat-button color="primary" (click)="close()">Cerrar</button>
          </mat-action-row>
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)" hideToggle>
            
            <mat-expansion-panel-header>
              <mat-panel-title>
                Vacunas aplicadas por mes 
              </mat-panel-title>
              <mat-panel-description>
                cantidad vacunas aplicadas en todas las zonas
                <mat-icon>date_range</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>
        
            <mat-form-field style="width: 100%" class="example-full-width" appearance="fill">
                <mat-label>Seleccionar un mes</mat-label>
                <input matInput  [formControl]="dateForm4" [min]="minDate"  [max]="maxDate"  [matDatepicker]="picker4" [disabled]=true >
                <mat-datepicker-toggle matSuffix [for]="picker4" ></mat-datepicker-toggle>
                <mat-datepicker #picker4 startView="year" (monthSelected)="closeDatePicker($event, picker4, dateForm4)"  disabled="false"></mat-datepicker>
                <mat-error *ngIf="dateForm4.hasError('required')">
                    Fecha <strong>requerido</strong>
                </mat-error>
            </mat-form-field>

            <button mat-button color="primary" (click)="buscar(3,dateForm4)">Buscar</button>

            <div *ngIf="mostrarGraf[3]" class="contentGraf" >

                <ngx-charts-pie-chart
                [view]="view"
                [scheme]="colorScheme"
                [animations]="true"
                [results]="single"
                [gradient]="gradient"
                [legend]="showLegend"
                [legendTitle]="legendTitle"
                [legendPosition]="legendPosition"
                [labels]="showLabels"
                [doughnut]="isDoughnut"
                (select)="onSelect($event)"
                (activate)="onActivate($event)"
                (deactivate)="onDeactivate($event)"
                >
                </ngx-charts-pie-chart>


            </div>
        
            <mat-action-row>
                <button mat-button color="primary" (click)="close()">Cerrar</button>
            </mat-action-row>
        </mat-expansion-panel>
      
        <mat-expansion-panel [expanded]="step === 4" (opened)="setStep(4)" hideToggle>
            
            <mat-expansion-panel-header>
              <mat-panel-title>
                Vacunas aplicadas por zona
              </mat-panel-title>
              <mat-panel-description>
                cantidad vacunas aplicadas en un mes poe cada zona
                <mat-icon>date_range</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>
        
            <div class="contenDatos" style="display: flex;justify-content: center;">

                <mat-form-field style="width: 50%" class="example-full-width" appearance="fill">
                    <mat-label>Seleccionar un mes</mat-label>
                    <input matInput  [formControl]="dateForm5" [min]="minDate"  [max]="maxDate"  [matDatepicker]="picker5" [disabled]=true >
                    <mat-datepicker-toggle matSuffix [for]="picker5" ></mat-datepicker-toggle>
                    <mat-datepicker #picker5 startView="year" (monthSelected)="closeDatePicker($event, picker5, dateForm5)"  disabled="false"></mat-datepicker>
                    <mat-error *ngIf="dateForm5.hasError('required')">
                        Fecha <strong>requerido</strong>
                    </mat-error>
                </mat-form-field>
    
                <mat-form-field style="width: 50%" class="example-full-width" appearance="fill">
                    <mat-label>Zona</mat-label>
                    
                    <mat-select [formControl]="zonaFormControl1">
                        <mat-option *ngFor="let zona of zonas" value="{{zona.id}}">{{zona.nombre}}</mat-option>
                    </mat-select>
                </mat-form-field>

            </div>

            <button mat-button color="primary" (click)="buscar(4,dateForm5)">Buscar</button>

            
            <div *ngIf="mostrarGraf[4]" class="contentGraf" >

                <ngx-charts-pie-chart
                [view]="view"
                [scheme]="colorScheme"
                [animations]="true"
                [results]="single"
                [gradient]="gradient"
                [legend]="showLegend"
                [legendTitle]="legendTitle"
                [legendPosition]="legendPosition"
                [labels]="showLabels"
                [doughnut]="isDoughnut"
                (select)="onSelect($event)"
                (activate)="onActivate($event)"
                (deactivate)="onDeactivate($event)"
                >
                </ngx-charts-pie-chart>


            </div>
          
        
            <mat-action-row>
                <button mat-button color="primary" (click)="close()">Cerrar</button>
            </mat-action-row>
        </mat-expansion-panel>


    </mat-accordion>




</div>