<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
    </div>

    <!-- Login Form -->
    <form (ngSubmit)="checkLogin(form)" #form="ngForm">
      <p>Ingresa a tu cuenta</p>
      <input type="email" id="login" class="fadeIn second" name="user" placeholder="login" [(ngModel)]="email" required #username="ngModel">
      <div class="error" *ngIf="username.invalid && (username.dirty || username.touched)" style="color:red">
        <div *ngIf="username.errors.required">username is required.</div>
      </div>
      <input  type="password" id="password" class="fadeIn third" name="pass" placeholder="password"[(ngModel)]="pass" required #password="ngModel">
      <!--Mensaje de validacion para que escriba algo -->
      <div class="error" *ngIf="password.invalid && (password.dirty || password.touched)" style="color:red"> 
        <div *ngIf="password.errors.required">Password is required.</div>
      </div>
      <!--Mensaje de validacion para un usuario que no existe -->
      <div *ngIf="!aproved" class="error alert alert-danger mt-3"  style="color:red"> 
        <div >usuario o contraseña incorrectos.</div>
      </div>
       <!--botón --> 
      <input  type="submit" class="fadeIn fourth" value="Log In" [disabled]="!form.valid">
    </form>
    <a class="nav-link" routerLink="/createUser" routerLinkActive="active"><i class="fas fa-gamepad"></i>Crear Usuario</a>
  </div>
</div>
