<h1>Datos turno: {{data.nombre}} </h1>
<form class="example-form">

    <mat-form-field  *ngIf="data.aprobada" style="width: 100%" class="example-full-width" appearance="fill">
        <mat-label>Fecha asignada</mat-label>
        <input matInput disabled value=" {{data.fechaAsig}}" >
    </mat-form-field>

    <mat-form-field *ngIf="!data.aprobada" style="width: 100%" class="example-full-width" appearance="fill">
        <mat-label>Asignar fechar al turno</mat-label>
        <input matInput  [formControl]="dateForm" [min]="minDate"  [max]="maxDate"  [matDatepicker]="picker" [disabled]=true (dateChange)="guardar()">
        <mat-datepicker-toggle matSuffix [for]="picker" [disabled]="editarFecha" ></mat-datepicker-toggle>
        <mat-datepicker #picker disabled="false"></mat-datepicker>
        <button  mat-icon-button matSuffix [disabled]="!guardarFecha" (click)="actualizarFecha()" >
            <mat-icon>save</mat-icon>
        </button>
    </mat-form-field>
  

    <!-- <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Zona</mat-label>
        <input matInput  *ngIf="!editarZona"  [disabled]="!editarZona" value=" {{data.centro_vacunatorio.nombre}} " >
        <mat-select  *ngIf="editarZona" [formControl]="zonaFormControl">
            <mat-option value="Zona 1">Zona 1</mat-option>
            <mat-option value="Zona 2">Zona 2</mat-option>
            <mat-option value="Zona 3">Zona 3</mat-option>
          </mat-select>
        <button *ngIf="!editarZona" mat-icon-button matSuffix (click)="editarZona =!editarZona"  >
            <mat-icon>edit</mat-icon>
        </button>
        <button *ngIf="editarZona" mat-icon-button matSuffix (click)="cambiarZona()" >
            <mat-icon>save</mat-icon>
        </button>
    </mat-form-field>
   -->

  </form>