<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
    </div>

    <!-- Login Form -->
    <form>
      <p>Crea tu usuario</p>
      <input type="text" id="username" class="fadeIn second" name="username" placeholder="username" [(ngModel)]="username" >
      <input type="number" id="dni"  class="fadeIn second" name="dni" placeholder="dni" [(ngModel)]="dni" >
      <input type="email" id="email" class="fadeIn second" name="name" placeholder="email" [(ngModel)]="email" >
      <input type="password" id="password" class="fadeIn third" name="pass" placeholder="password"[(ngModel)]="pass" >
      <input type="password" id="pass2" class="fadeIn third" name="pass2" placeholder="confirm password"[(ngModel)]="pass2" >
      <input (click)=buscarUser() type="submit" class="fadeIn fourth" value="Crear">
    </form>
    <a class="nav-link" routerLink="/login" routerLinkActive="active"><i class="fas fa-gamepad"></i>Login</a>
  </div>
</div>
